/* Embedded fonts from the source PDF. If a font is licensed, it is
   your responsibility to have the right to web-serve it. */

@font-face {
  font-family: "PDFEmbed Calibri";
  src: url("fonts/Calibri-Bold.otf") format("opentype");
  font-weight: 700;
  font-style: normal;
}
@font-face {
  font-family: "PDFEmbed Cambria";
  src: url("fonts/Cambria.otf") format("opentype");
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: "PDFEmbed Cambria";
  src: url("fonts/Cambria-Bold.otf") format("opentype");
  font-weight: 700;
  font-style: normal;
}
@font-face {
  font-family: "PDFEmbed Cambria";
  src: url("fonts/Cambria-Italic.otf") format("opentype");
  font-weight: 400;
  font-style: italic;
}
@font-face {
  font-family: "PDFEmbed Gotham";
  src: url("fonts/Gotham-Bold.otf") format("opentype");
  font-weight: 700;
  font-style: normal;
}
@font-face {
  font-family: "PDFEmbed Gotham";
  src: url("fonts/Gotham-Book.otf") format("opentype");
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: "PDFEmbed Proxima Nova";
  src: url("fonts/ProximaNova-Black.otf") format("opentype");
  font-weight: 800;
  font-style: normal;
}
@font-face {
  font-family: "PDFEmbed Proxima Nova";
  src: url("fonts/ProximaNova-Bold.otf") format("opentype");
  font-weight: 700;
  font-style: normal;
}
@font-face {
  font-family: "PDFEmbed Proxima Nova";
  src: url("fonts/ProximaNova-Extrabld.otf") format("opentype");
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: "PDFEmbed Proxima Nova";
  src: url("fonts/ProximaNova-Light.otf") format("opentype");
  font-weight: 300;
  font-style: normal;
}
@font-face {
  font-family: "PDFEmbed Proxima Nova";
  src: url("fonts/ProximaNova-LightIt.otf") format("opentype");
  font-weight: 300;
  font-style: normal;
}
@font-face {
  font-family: "PDFEmbed Proxima Nova";
  src: url("fonts/ProximaNova-Medium.otf") format("opentype");
  font-weight: 500;
  font-style: normal;
}
@font-face {
  font-family: "PDFEmbed Proxima Nova";
  src: url("fonts/ProximaNova-MediumIt.otf") format("opentype");
  font-weight: 500;
  font-style: normal;
}
@font-face {
  font-family: "PDFEmbed Proxima Nova";
  src: url("fonts/ProximaNova-Regular.otf") format("opentype");
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: "PDFEmbed Proxima Nova";
  src: url("fonts/ProximaNova-RegularIt.otf") format("opentype");
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: "PDFEmbed Proxima Nova";
  src: url("fonts/ProximaNova-Semibold.otf") format("opentype");
  font-weight: 600;
  font-style: normal;
}
@font-face {
  font-family: "PDFEmbed Proxima Nova Cond";
  src: url("fonts/ProximaNovaCond-Bold.otf") format("opentype");
  font-weight: 700;
  font-style: normal;
}
@font-face {
  font-family: "PDFEmbed Times New Roman PSMT";
  src: url("fonts/TimesNewRomanPSMT.otf") format("opentype");
  font-weight: 400;
  font-style: normal;
}
