/* Embedded fonts from the source PDF. If a font is licensed, it is
   your responsibility to have the right to web-serve it. */

:root {
  --rkf-oxfamtstarpro: "PDFEmbed Oxfam TSTARPRO", "Oxfam TSTARPRO", sans-serif;
  --rkf-tstar: "PDFEmbed TSTAR", "TSTAR", sans-serif;
  --rkf-zapfdingbatsitc: "PDFEmbed Zapf Dingbats ITC", "Zapf Dingbats ITC", sans-serif;
}
@font-face {
  font-family: "PDFEmbed Oxfam TSTARPRO";
  src: url("fonts/OxfamTSTARPRO-Bold.otf") format("opentype");
  font-weight: 700;
  font-style: normal;
}
@font-face {
  font-family: "PDFEmbed Oxfam TSTARPRO";
  src: url("fonts/OxfamTSTARPRO-Headline.otf") format("opentype");
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: "PDFEmbed Oxfam TSTARPRO";
  src: url("fonts/OxfamTSTARPRO-Italic.otf") format("opentype");
  font-weight: 400;
  font-style: italic;
}
@font-face {
  font-family: "PDFEmbed Oxfam TSTARPRO";
  src: url("fonts/OxfamTSTARPRO-Light.otf") format("opentype");
  font-weight: 300;
  font-style: normal;
}
@font-face {
  font-family: "PDFEmbed Oxfam TSTARPRO";
  src: url("fonts/OxfamTSTARPRO-Medium.otf") format("opentype");
  font-weight: 500;
  font-style: normal;
}
@font-face {
  font-family: "PDFEmbed Oxfam TSTARPRO";
  src: url("fonts/OxfamTSTARPRO-Regular.otf") format("opentype");
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: "PDFEmbed TSTAR";
  src: url("fonts/TSTAR-Heavy.otf") format("opentype");
  font-weight: 800;
  font-style: normal;
}
@font-face {
  font-family: "PDFEmbed Zapf Dingbats ITC";
  src: url("fonts/ZapfDingbatsITC.otf") format("opentype");
  font-weight: 400;
  font-style: normal;
}
