/* Embedded fonts from the source PDF. If a font is licensed, it is
   your responsibility to have the right to web-serve it. */

:root {
  --rkf-gotham: "PDFEmbed Gotham", "Gotham", sans-serif;
}
@font-face {
  font-family: "PDFEmbed Gotham";
  src: url("fonts/Gotham-Bold.otf") format("opentype");
  font-weight: 700;
  font-style: normal;
}
@font-face {
  font-family: "PDFEmbed Gotham";
  src: url("fonts/Gotham-BoldItalic.otf") format("opentype");
  font-weight: 700;
  font-style: italic;
}
@font-face {
  font-family: "PDFEmbed Gotham";
  src: url("fonts/Gotham-Book.otf") format("opentype");
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: "PDFEmbed Gotham";
  src: url("fonts/Gotham-BookItalic.otf") format("opentype");
  font-weight: 400;
  font-style: italic;
}
@font-face {
  font-family: "PDFEmbed Gotham";
  src: url("fonts/Gotham-Light.otf") format("opentype");
  font-weight: 300;
  font-style: normal;
}
@font-face {
  font-family: "PDFEmbed Gotham";
  src: url("fonts/Gotham-Medium.otf") format("opentype");
  font-weight: 500;
  font-style: normal;
}
