/* Embedded fonts from the source PDF. If a font is licensed, it is
   your responsibility to have the right to web-serve it. */

@font-face {
  font-family: "PDFEmbed Arial";
  src: url("fonts/Arial-BoldMT.otf") format("opentype");
  font-weight: 700;
  font-style: normal;
}
@font-face {
  font-family: "PDFEmbed Arial MT";
  src: url("fonts/ArialMT.otf") format("opentype");
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: "PDFEmbed IBMPlex Sans";
  src: url("fonts/IBMPlexSans-BoldItalic.otf") format("opentype");
  font-weight: 700;
  font-style: italic;
}
@font-face {
  font-family: "PDFEmbed IBMPlex Sans";
  src: url("fonts/IBMPlexSans-Italic.otf") format("opentype");
  font-weight: 400;
  font-style: italic;
}
@font-face {
  font-family: "PDFEmbed IBMPlex Sans";
  src: url("fonts/IBMPlexSans-Medium.otf") format("opentype");
  font-weight: 500;
  font-style: normal;
}
@font-face {
  font-family: "PDFEmbed IBMPlex Sans";
  src: url("fonts/IBMPlexSans-MediumItalic.otf") format("opentype");
  font-weight: 500;
  font-style: italic;
}
@font-face {
  font-family: "PDFEmbed IBMPlex Sans";
  src: url("fonts/IBMPlexSans-Regular.otf") format("opentype");
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: "PDFEmbed IBMPlex Sans";
  src: url("fonts/IBMPlexSans-SemiBold.otf") format("opentype");
  font-weight: 600;
  font-style: normal;
}
@font-face {
  font-family: "PDFEmbed IBMPlex Serif";
  src: url("fonts/IBMPlexSerif-Regular.otf") format("opentype");
  font-weight: 400;
  font-style: normal;
}
