/* Embedded fonts from the source PDF. If a font is licensed, it is
   your responsibility to have the right to web-serve it. */

:root {
  --rkf-aptos: "PDFEmbed Aptos", "Aptos", sans-serif;
  --rkf-aptosdisplay: "PDFEmbed Aptos Display", "Aptos Display", sans-serif;
  --rkf-couriernewpsmt: "PDFEmbed Courier New PSMT", "Courier New PSMT", sans-serif;
  --rkf-symbolmt: "PDFEmbed Symbol MT", "Symbol MT", sans-serif;
}
@font-face {
  font-family: "PDFEmbed Aptos";
  src: url("fonts/Aptos.otf") format("opentype");
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: "PDFEmbed Aptos";
  src: url("fonts/Aptos-Bold.otf") format("opentype");
  font-weight: 700;
  font-style: normal;
}
@font-face {
  font-family: "PDFEmbed Aptos";
  src: url("fonts/Aptos-BoldItalic.otf") format("opentype");
  font-weight: 700;
  font-style: italic;
}
@font-face {
  font-family: "PDFEmbed Aptos";
  src: url("fonts/Aptos-Italic.otf") format("opentype");
  font-weight: 400;
  font-style: italic;
}
@font-face {
  font-family: "PDFEmbed Aptos Display";
  src: url("fonts/AptosDisplay.otf") format("opentype");
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: "PDFEmbed Courier New PSMT";
  src: url("fonts/CourierNewPSMT.otf") format("opentype");
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: "PDFEmbed Symbol MT";
  src: url("fonts/SymbolMT.otf") format("opentype");
  font-weight: 400;
  font-style: normal;
}
